@model IEnumerable<Price_lists_CRM.Models.PricelistModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create" class="btn btn-primary">Create New</a>

<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pricelist in Model)
            {
                <tr onclick="location.href='@Url.Action("Details", "Pricelist", new { id = pricelist.Id })';" style="cursor: pointer;">
                    <td>
                        @Html.DisplayFor(modelItem => pricelist.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
